.bml-root {
  div {
    padding: 2px;
  }

  div:not(:first-child) {
    margin-top: 2px;
  }
}

.fill-width {
  width: 100%;
}

.code-editor textarea {
  font-family: monospace;
  line-height: unset !important;
}
