$body-font-family: 'Roboto', 'Noto Sans SC', 'Microsoft YaHei', sans-serif !default;

$code-color: inherit;
$code-kbd-border-radius: inherit;
$code-kbd-font-size: inherit;
$code-kbd-font-weight: inherit;

$material-light: (
  'background': transparent,
  'app-bar': #1976d2c0,
  'navigation-drawer': #ffffffc0,
  'cards': #ffffffc0
);

$material-dark: (
  'background': transparent,
  'app-bar': #1976d2c0,
  'navigation-drawer': #000000c0,
  'cards': #000000c0
);
